[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
zappa = "*"

[packages]
boto3 = "*"
flask = "*"
requests = "*"
spacy = "*"
sentry-sdk = {extras = ["flask"],version = "==0.16.4"}

[requires]
python_version = "3.8"
